example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  label{
    font-size:15px;
}
input{
    font-size: 15px;
}
button{
    font-size: 15px;
}
