<app-navbars>
    </app-navbars>
    <!-- <mat-sidenav-container>
            <mat-sidenav [(opened)]="opened" mode="side">
                   <a href="/home"><button mat-button color="accent">Home</button></a> 
                   <a href="/signup"><button mat-button color="accent">Sign Up</button></a> 
                   <a href="/addbook"><button mat-button color="accent">Add Book</button></a> 
            </mat-sidenav> -->
            <mdb-card>
 
                <mdb-card-body>
                  <mdb-card-title>
                    <h2>Add Book</h2>
                  </mdb-card-title>
              
                      
                                <form #bookForm="ngForm" (ngSubmit)="submit(bookForm)" class="text-center border border-light p-5"> 
                                        <div class="md-form md-outline">
                                                <label for="bookTitle">Enter the Title of the Book</label>
                                                <input type="text" mdbInput ngModel #bookTitle="ngModel" class="form-control" name="bookTitle" >
                                              </div>
                                             <div class="md-form md-outline">
                                                <label for="bookSubTitle">Enter the Subtitle of the Book</label>
                                                <input type="text" mdbInput class="form-control" name="bookSubTitle" ngModel #bookSubTitle="ngModel" >
                                              </div>
                                    <div class="md-form md-outline">
                                      <label for="bookAuthor1">Enter the Name of the First Author</label>
                                      <input type="email" class="form-control" name="bookAuthor1" ngModel #bookAuthor1="ngModel" mdbInput>
                                    </div>
                                    <div class="md-form md-outline">
                                            <label for="bookAuthor2">Enter the Name of the Second Author</label>
                                            <input type="email" class="form-control" name="bookAuthor2" aria-describedby="emailHelp" ngModel #bookAuthor2="ngModel" mdbInput>
                                          </div>
                                          <div class="md-form md-outline">
                                                <label for="bookAuthor3">Enter the Name of the third Author</label>
                                                <input type="email" class="form-control" name="bookAuthor3" ngModel #bookAuthor3="ngModel" mdbInput>
                                              </div>
                                              <div class="md-form md-outline">
                                                    <label for="bookPublisher">Enter the Name of the Publication</label>
                                                    <input type="email" class="form-control" name="bookPublisher" ngModel #bookPublisher="ngModel" mdbInput>
                                                  </div>
                                                  <div class="md-form md-outline">
                                                        <label for="bookPrice">Enter the price of the book</label>
                                                        <input type="email" class="form-control" name="bookPrice" ngModel #bookPrice="ngModel" mdbInput>
                                                      </div>
                                                      
                                                      
                                                          <div>
                                                              <label id="example-radio-group-label">Select Genre</label>
                                                              <mat-radio-group aria-labelledby="example-radio-group-label" name="bookRadioGenre" matInput  class="example-radio-group" [(ngModel)]="bookRadioGenre">
                                                                <mat-radio-button class="example-radio-button"  *ngFor="let genre of genres" [value]="genre">
                                                                  {{genre}}
                                                                </mat-radio-button>
                                                              </mat-radio-group>
                                                              </div>
                                                        
                                                  
                                                   <div class="form-group">
                                                      <label>
                                                          Select image of the book
                                                      </label>
                                                      <label class="image-upload-container btn btn-bwm">
                                                            <input #imageInput
                                                                   type="file"
                                                                   accept="image/*"
                                                                   (change)="processFile(imageInput)">
                                                          </label>
                                                          </div>
                                    <!-- <mat-icon color="primary">wifi</mat-icon> -->
                                    <!-- <p>
                                        Demo for batch
                                        <button mat-raised-button color="primary">
                                          Action
                                        </button>
                                      </p> -->
                                      <button mdbBtn color="info" block="true" gradient="aqua" class="my-4" type="submit">Add Book</button>
                                    </form>
<!--                   
            </mat-sidenav-content>
        </mat-sidenav-container> -->
        <pre>
            {{bookForm.value | json}}
        </pre>
      </mdb-card-body>
    </mdb-card>
    <app-footer></app-footer>
    