<!-- Footer -->
<div class="bgncolor">
<footer class="page-footer font-small morpheus-den-gradient color-block mb-3 mx-auto z-depth-1-half p-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
           

                <!-- Content -->
               <b> <h4 class="text-uppercase">LibMS</h4> </b>
                <!-- <p>This is a library Management system where users can add books that they have in the library so that it can be shown to the users of the library and they can become a user to see the books that are present in the system</p> -->
      
            
            

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <a href="/home">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Home</h5>
        </a>
          <!-- <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul> -->

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <a href="/addbook">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" *ngIf="checkLogin == true" >Add Book</h5>
            </a>
            <a href="/signup">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" *ngIf="checkLogin == false">Sign Up</h5>
        </a>
          <!-- <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul> -->

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <a href="/login">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" *ngIf="checkLogin == false">Login</h5>
        </a>
        <a href="/logout">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" *ngIf="checkLogin == true">Logout</h5>
            </a>
          <!-- <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul> -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> Dhaivat Desai</a>
    </div>
    <!-- Copyright -->

  </footer>
  </div>
  <!-- Footer -->