.hello{
    background-color: black
}
.colo{
    color:red;
    font-family:  "Comic Sans MS", cursive, sans-serif; 
}
mdb-card{
    width: 100%;
    background-color: #1C2331;
    height: 100%
}
.txtcolor{
    color: white;
}
hr{
    color: white;
    background-color: white
}
.bod{
border: 2px solid white;
border-radius: 5px;
}
// mdb-card{
//     padding-right: 10px;
//     padding-bottom: 10px;
//    
// }