<app-navbars></app-navbars>
<!-- Default form login -->
<mdb-card>
 
  <mdb-card-body>
    <mdb-card-title>
      <h4>Login</h4>
    </mdb-card-title>

    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" class="text-center border border-light p-5">

            <p class="h4 mb-4">Sign in</p>
            <div class="md-form md-outline">
            <!-- Email -->
                <label for="loginEmail">Enter Email</label>
            <input type="email" name="loginEmail" required class="form-control mb-4"  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" mdbInput #loginEmail="ngModel" ngModel>
            <div *ngIf="loginEmail.touched && loginEmail.invalid" class="alert alert-danger" role="alert">
                <p *ngIf="loginEmail.errors.required">Email is a neccesary field</p>
                <p *ngIf="loginEmail.errors.pattern">Email is invalid</p>
            </div>
                </div>
            <!-- Password -->
            <div class="md-form md-outline">
                <label for="loginPassword">Password</label>
                <input ngModel type="password" required #loginPassword="ngModel" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" name="loginPassword" mdbInput  [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                        <div *ngIf="loginPassword.touched && loginPassword.invalid" class="alert alert-danger" role="alert">
                          <p *ngIf="loginPassword.errors.required">Password is a required field</p>
                          <p *ngIf="loginPassword.errors.pattern">Password must have atleast 8 characters, 1 uppercase,1 lowercase and a number/special character</p>
                      </div>
              </div>
            <div class="d-flex justify-content-around">
              <!-- <div>
               
                <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
              </div> -->
              <!-- <div>
               
                <a href="">Forgot password?</a>
              </div> -->
            </div>
          
            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" gradient="aqua" class="my-4" type="submit">Sign in</button>
          
            <!-- Register -->
            <p>Not a member?
              <a href="/signup">Register</a>
            </p>
          
          
          
          </form>

   
  </mdb-card-body>
</mdb-card>
      <!-- Default form login -->
      <app-footer></app-footer>