/* .navbar{
    justify-content: space-between;
    justify-self: left;
}
a{
    color: white;
    padding-right: 1rem;
    justify-self: right;
}
mat-sidenav-container{
    height:100%
}
mat-sidenav,mat-sidenav-content{
    padding:16px;
}
mat-sidenav{
    background-color:blue;
    width:200px;     
} */
mdb-navbar-brand{
        font-size: 20px;
        align-content: center;
        padding-top: 15px;
        padding-right: 50px;
}
a{
    font-size: 20px
}
mdb-navbar .navbar.navbar-2 .navbar-toggler-icon {
    background-color: #2E2E2E;
    color:#2E2E2E;
}