<!-- <div id="overlay">
    <div>
        <mat-spinner></mat-spinner>
        </div>
</div> -->
<form>
        <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="Enter First Name">
              </div>
             <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Enter Last Name">
              </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Password">
    </div><div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
    </div>
    <mat-icon color="primary">wifi</mat-icon>
    <p>
        Demo for batch
        <button mat-raised-button color="primary"
            matBadge={{vara}} matBadgePosition="after" matBadgeColor="accent">
          Action
        </button>
      </p>
 
      
    </form>
 
  
