<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="/home">
          <strong>LibMS</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="\home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="\addbook" *ngIf="checkLogin == true">Add Book</a>
            <a class="nav-link" href="\signup"  *ngIf="checkLogin == false">Sign Up</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="\logout" *ngIf="checkLogin == true">Log Out</a>
            <a class="nav-link" href="\login"  *ngIf="checkLogin == false">Log In</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
          <div class="container text-center white-text wow fadeInUp">
            <h2>Welcome to LibMS</h2>
            <br>
            <h5>This platform is developed using angular</h5>
            <p>Users can add books which are present in the library</p>
            <br>
            <p>Other Users are able to see the books and also see the price of the books that they are interested in.Users can upload books once they have logged in.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Main -->
</header>
  <!--Main Navigation-->

  <!--Main Layout-->
  <main class="text-center py-5">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="hello">
        <app-show-book></app-show-book>
         <button type="button" mdbBtn color="primary" (click)="updateGrid()" mdbWavesEffect>Show More</button>
        <app-show-book2></app-show-book2>
            </div>
        </div>
      </div>
    </div>

  </main>
  <app-footer></app-footer>
  <!--Main Layout-->