<app-navbars></app-navbars>
<mat-sidenav-container>
        <mat-sidenav [(opened)]="opened" mode="side">
                <button mat-button color="accent">Home</button>
                <button mat-button color="accent" >Sign Up</button>
                <button mat-button color="accent" >Sign Up Form</button>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-icon (click)="opened=!opened" color="primary">reorder</mat-icon>
           
            <div class='container-fluid'>  
                    <div class='col-12'>  
                        <ngb-carousel>  
                            <ng-template ngbSlide>  
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROEXQE2zHf2lfnDSq0kdd1zFijmiN104RpODkyyRI2NPbhXD-Z" alt="Bangalore Metro">  
                                <div class="carousel-caption">  
                                    <h3>Delhi Metro</h3>  
                                </div>  
                            </ng-template>  
                            <ng-template ngbSlide>  
                                <img src="https://picsum.photos/id/1011/900/500" alt="Bangalore Metro">  
                                <div class="carousel-caption">  
                                    <h3>Bangalore Metro</h3>  
                                </div>  
                            </ng-template>  
                            <ng-template ngbSlide>  
                                <img src="https://picsum.photos/id/984/900/500" alt="Channai Metro">  
                                <div class="carousel-caption">  
                                    <h3>Channai Metro</h3>  
                                </div>  
                            </ng-template>  
                        </ngb-carousel>  
                    </div>  
                </div>  
                    <!-- <div>
                        <mat-grid-list>
                            <mat-grid-tile>
                                <mat-card>
                                    <mat-card-header>
                                        hello
                                    </mat-card-header>
                                    <mat-card-content>
                                        this is to show where the book shall be placed
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div> -->
<!-- 
                    <div>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Demo for expansion panel
                            </mat-panel-title> 
                            <mat-panel-description>
                                This is the demo description for the panel 
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>demo</p>
                    </mat-expansion-panel>
                    </div> -->


        </mat-sidenav-content>
    </mat-sidenav-container>