.view {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSCqd53VlbOR0O_og1afElrFq8VhFQk21okwdfUVL29Bbohuphz")no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}
a{
    padding-top: 10px;
    font-size:22px;
}
@media only screen and (max-width: 786px) {
    .navbar {
        background-color: #4285F4;
    }
}
.hello{
    background-color: black
}
main{
    background-color: black
}